* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(255, 255, 255);
    font-weight: 800;

}

body {
    background-color: rgb(204, 202, 202);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parent {
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: purple;
    text-align: center;
    padding: 11px 17px;
}

.chat-footer {
    border-top: 1px solid gray;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.chat-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    overflow-y: auto;
    padding: 10px 15px;
}

.message {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 7px;
    padding: 5px 7px;
    max-width: 230px;
    font-size: 1rem;
}

.sender {
    align-self: flex-start;
    background-color: rgb(243, 241, 241);
}

.receiver {
    align-self: flex-end;
    background-color: rgb(248, 209, 248);
}

.chat-footer input {
    border: 1px solid rgb(180, 175, 175);
    padding: 10px 15px;
    border-radius: 20px;
    flex: 1;
}

.chat-footer button {
    color: white;
    background-color: purple;
    border-radius: 20px;
    padding: 7px 10px;
    border: none;
    font-weight: bolder;
    transition: transform 0.5s, box-shadow 0.5s;
}

.chat-footer button:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px 3px rgb(224, 173, 224);
}

.time {
    font-size: 10px;
    margin-top: 5px;
}

.name {
    font-size: 11px;
    color: rgb(75, 74, 74);
    margin-bottom: 5px;
    text-transform: uppercase;
}

@media (min-width: 600px) and (max-width: 900px) {
    .message {
        max-width: 60%;
        font-size: 16px;
    }
    .chat-footer,
    .chat-header {
        padding: 15px;
    }
    .parent {
        height: 90vh;
        width: 50vw;
        overflow: hidden;
    }

}

@media (min-width: 901px) {
    .message {
        max-width: 60%;
        font-size: 16px;
    }
    .chat-footer,
    .chat-header {
        padding: 15px;
    }
    .parent {
        height: 90vh;
        width: 40vw;
        overflow: hidden;
    }

}
